<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Captcha App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/check" method="post">
            <img src={{ captcha }} alt="" name="image_name"}> 
            <br>
            <input type="text" name="user_text"> 
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>